<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/index :: layout">
<th:block th:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Post New Thread</h1>
        </div>
    </div>
    <hr>
    <form action="#" th:action="@{/newthread(id=${id})}" th:object="${thread}" method="post">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="title">Title: </label>
                    <input class="form-control" type="text" id="title" th:field="*{title}" />
                </div>
                <div class="form-group">
                    <label for="content">Message: </label>
                    <textarea class="form-control" id="content"  rows="5" th:field="*{content}"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" value="Submit">Submit</button>
                    <button type="reset" value="Reset">Reset</button>
                </div>
    </form>
    </div>
    </div>
    </div>
</th:block>

</html>