/build/
ui
bin/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
Snap.20180316.222420.4900.0003.trc
Snap.20180316.222943.5372.0003.trc
core.20180316.222420.4900.0001.dmp
core.20180316.222943.5372.0001.dmp
javacore.20180316.222420.4900.0002.txt
javacore.20180316.222943.5372.0002.txt
jitdump.20180316.222420.4900.0004.dmp
jitdump.20180316.222943.5372.0004.dmp
out/
src/main/resources/rebel.xml
.gradle/
META-INF/
bin/.gitignore
generated/
gradle/
gradlew
gradlew.bat
src/main/java/com/springforum/converter/
src/main/java/com/springforum/event/
src/main/java/com/springforum/spring/test/
/.gradle/4.8.1/taskHistory/taskHistory.bin
/.gradle/4.8.1/taskHistory/taskHistory.lock
/.gradle/4.8.1/fileHashes/resourceHashesCache.bin
/.gradle/4.8.1/fileHashes/fileHashes.lock
/.gradle/4.8.1/fileHashes/fileHashes.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
