<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout">
<th:block th:fragment th:if="${bags.hasSubForums()}">
    <div class="row my-2">
        <div class="col my-4">
            <h1 th:text="|Subforums: ${bags.name}|">Subforums:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Titles</th>
                    <th>Last Post</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="forum,iter : ${bags.subforums}">
                    <td>
                        <a th:href="@{/forumdisplay(id=${forum.id})}" th:text="${forum.name}"></a>
                        <p class="small" th:text="${forum.description}"></p>
                    </td>
                    <td th:text="${forum.lastThread?.title}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>