<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout">
<th:block th:fragment>
    <div class="row">
        <div class="col" th:if="${bags.id}">
            <h1 >Threads:</h1>
            <div th:switch="${bags.hasThreads()}" class="row">
                <div class="col my-4">
                    <th:block th:case="true">
                        <table class="table table-hover table-bordered">
                            <thead class="thead-light">
                            <tr>
                                <th>Titles</th>
                                <th>Author</th>
                                <th>Created Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="thread,iter : ${bags.threads}">
                                <td>
                                    <a th:href="@{/forumdisplay(id=${bags.id})}" th:text="${thread.title}"></a>
                                </td>
                                <td th:text="${thread.author.username}"></td>
                                <td th:text="${#temporals.format(thread.createdTime.toLocalDate())}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>
                    <th:block th:case="false">
                        There is no thread for you
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>