<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/index :: layout">
<template th:fragment="content">
    <div class="row justify-content-center">
    <form name="f" th:action="@{/login}" method="post">
            <legend>Login:</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <div class="form-group">
            <label for="username"></label>
            <input placeholder="Username" class="form-control" type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input placeholder="Password" class="form-control" type="password" id="password" name="password"/>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input id="remember-me" class="form-check-input" type="checkbox" name="remember-me" />
                    <label class="form-check-label" for="remember-me">
                        Remember me
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                <button type="submit" class="btn btn-primary col">Log in</button>
                </div>
                <div class="col">
                <a th:href="@{/register}" class="btn btn-secondary col" role="button">Register</a>
                </div>
            </div>
    </form>
    </div>
</template>
</html>